## Import libraries

In [152]:
import numpy as np
import pandas as pd

In [153]:
df = pd.read_excel("~/Personal_project/Customer-Lifetime-Value-Prediction/data/Online_Retail.xlsx")

In [154]:
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

## Understanding the data

In [155]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [156]:
##Looking for null values
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [157]:
## looking for duplicates
print("Before dropping null values: ", df.shape)
df.duplicated().sum()
# Dropping the null values
df.dropna(inplace=True)


print("After dropping null values: ", df.shape)

Before dropping null values:  (541909, 8)
After dropping null values:  (406829, 8)

In [158]:
df.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [159]:
## Dropping null values
df.dropna(inplace=True)

print("After dropping null values: ", df.shape)

After dropping null values:  (406829, 8)

In [160]:
df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,406829.000000,406829,406829.000000,406829.000000
mean,12.061303,2011-07-10 16:30:57.879207424,3.460471,15287.690570
min,-80995.000000,2010-12-01 08:26:00,0.000000,12346.000000
25%,2.000000,2011-04-06 15:02:00,1.250000,13953.000000
50%,5.000000,2011-07-31 11:48:00,1.950000,15152.000000
75%,12.000000,2011-10-20 13:06:00,3.750000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,248.693370,NaN,69.315162,1713.600303

In [161]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [162]:
columns = ['StockCode', 'Description', 'Quantity','UnitPrice', 'CustomerID', 'Country']

for col in columns:
    print(f'Unique values in {col} : {df[col].unique()} \n\n Number of unique values in {col} : {len(df[col].unique())}\n\n')

Unique values in StockCode : ['85123A' 71053 '84406B' ... '90214Z' 90089 23843]

 Number of unique values in StockCode : 3684


Unique values in Description : ['WHITE HANGING HEART T-LIGHT HOLDER' 'WHITE METAL LANTERN'
 'CREAM CUPID HEARTS COAT HANGER' ... 'PINK CRYSTAL SKULL PHONE CHARM'
 'CREAM HANGING HEART T-LIGHT HOLDER' 'PAPER CRAFT , LITTLE BIRDIE']

 Number of unique values in Description : 3896


Unique values in Quantity : [     6      8      2     32      3      4     24     12     48     18
     20     36     80     64     10    120     96     23      5      1
     -1     50     40    100    192    432    144    288    -12    -24
     16      9    128     25     30     28      7     72    200    600
    480     -6     14     -2     -4     -5     -7     -3     11     70
    252     60    216    384     27    108     52  -9360     75    270
     42    240     90    320     17   1824    204     69    -36   -192
   -144    160   2880   1400     19     39    -48    -50     56     13
   1440     -8     15    720    -20    156    324     41    -10    -72
    -11    402    378    150    300     22     34    408    972    208
   1008     26   1000    -25   1488    250   1394    400    110    -14
     37    -33     78     -9     21    272     84    -47    -18    -96
     47    -15    -30   1728     38    -60    -16     53   -240     76
    576    -32     29   2400    500    -80    180   -300   -500    -23
    -13    960    -21   1296   -150    -17    147    168    256    -40
   -100     54     31    860   1010   1356   1284    186    114    360
   1930   2000   3114   1300    670    176    648     62  74215 -74215
     89     33     46   -120    112    456    900   -600    -42    -94
     45    130   2592    420    800     35   1200    864    504    -76
   -200   1056   1500    280    407    141   3906   1152    198    117
   -720    125    -86     81    -35    768     88     43    700   -102
   2160     55    -49    342    304    640    220    350    -46    -64
    312    392   -624    -27    330    151   -432    -58     44   -670
  -1300  -1930  -2000  -3114    462     66    492    273     65     85
    -51   -960   1350    428  -1350    336    101    132    227   2700
    222    228    246    906    756    888    552    224    738    608
   4300    276    -52     58     98     51     74   1600    323    -22
   1515  -1515    660    104   -420    264    188    588    612    152
    -19   -480     49   -164   -160    430    701    828    540    696
    560   -576   -108   -250   -408    121    512    -37    291   3186
     83     87     79   -360    -28    -75    109   -121    129    261
    352    102   -288    348   1900    157    -39    116    968    684
    824   -828   -701    196    124    248    410    236    230    210
    448   -140   -400   -252   -110   -334   -318   -126   -113   -180
    140     86    840    -38    450     93    494     92   1788    624
    744    416    496    396    306   1878   1944    666    708   1428
    852   1412    528   -756   -152    -85    -34   -312    -79    -43
    -31    183   -186    -53    -82    -70    -68   1540  -1200   -130
   -220    672    -26    -29     67   -840  -1296     63     94    255
     57    126    468   -468   -324   -168   4800    -66   -112    912
   1992    136   3000    -45    232    832    992    630   1020   2100
    162   -162    -67   -276   -184    234    244   -244   -234   -132
  12540     95    760    139    115    774   2040   1120     59    490
    388    620   1404    698  80995 -80995]

 Number of unique values in Quantity : 436


Unique values in UnitPrice : [2.55000e+00 3.39000e+00 2.75000e+00 7.65000e+00 4.25000e+00 1.85000e+00
 1.69000e+00 2.10000e+00 3.75000e+00 1.65000e+00 4.95000e+00 9.95000e+00
 5.95000e+00 7.95000e+00 8.50000e-01 6.50000e-01 1.25000e+00 2.95000e+00
 1.95000e+00 4.20000e-01 1.80000e+01 1.06000e+00 6.95000e+00 1.09500e+01
 3.45000e+00 5.50000e-01 3.80000e-01 1.45000e+00 3.95000e+00 6.75000e+00
 2.75000e+01 1.49500e+01 1.69500e+01 4.65000e+00 6.45000e+00 1.27500e+01
 1.99500e+01 8.50000e+00 3.82000e+00 3.37000e+00 5.45000e+00 6.35000e+00
 7.20000e-01 6.40000e-01 1.00000e-01 3.20000e-01 1.48000e+00 2.90000e-01
 1.65000e+02 3.57500e+01 3.35000e+00 1.06500e+01 1.50000e+01 9.50000e-01
 2.10000e-01 1.20000e-01 2.40000e-01 3.25000e+00 1.49000e+00 2.25000e+00
 1.55000e+00 1.89500e+01 8.95000e+00 5.00000e+01 2.99500e+01 4.60000e+00
 1.05000e+00 5.49000e+00 1.90000e-01 1.07500e+01 7.99500e+01 1.19500e+01
 3.00000e-02 7.50000e-01 3.60000e-01 3.40000e-01 1.60000e-01 1.88000e+00
 7.25000e+00 1.80000e-01 2.95000e+02 4.00000e+01 2.80000e+01 4.29500e+01
 2.19500e+01 2.69500e+01 2.92900e+01 1.40000e-01 0.00000e+00 5.55000e+00
 4.99500e+01 1.00000e+00 3.49000e+00 1.59500e+01 3.50000e+01 4.41000e+00
 3.00000e-01 6.60000e+00 1.93000e+00 3.21000e+00 5.30000e-01 2.81000e+02
 7.00000e-02 3.99500e+01 4.78000e+00 1.98400e+01 2.31000e+00 6.38000e+00
 9.89000e+00 3.86000e+00 5.27700e+01 3.88000e+00 3.26900e+01 2.67120e+02
 1.45000e+02 1.99400e+01 5.00000e-01 2.50000e-01 2.49500e+01 3.59500e+01
 1.75000e+02 3.81000e+00 1.70000e-01 2.50000e+00 7.50000e+00 6.25000e+00
 2.12000e+00 1.25000e+02 2.00000e+01 5.00000e+00 5.76000e+00 4.25000e+01
 8.49000e+00 2.69300e+01 1.23400e+01 3.50000e+00 2.00000e+00 1.53000e+00
 9.40000e-01 3.49500e+01 3.00000e+00 6.50000e+01 4.00000e-01 1.38800e+01
 1.50000e+02 5.75000e+00 2.00000e-01 2.29700e+01 3.98000e+00 3.70000e-01
 1.12600e+03 5.72000e+00 6.70000e+00 2.65500e+02 3.24000e+00 2.17000e+00
 1.01300e+01 2.40000e+00 2.65000e+00 2.21000e+00 2.16000e+00 7.30000e-01
 1.24000e+00 3.44000e+00 4.68000e+00 2.22000e+00 2.69000e+00 4.62000e+00
 6.91000e+00 9.16000e+00 8.87000e+00 7.13000e+00 1.29900e+01 7.06000e+00
 7.45000e+00 1.00000e+01 8.70000e-01 1.10000e+02 1.04000e+00 5.79500e+01
 1.27000e+00 5.99500e+01 1.71585e+03 4.00000e+00 2.08000e+00 4.15000e+00
 4.77000e+00 2.20000e-01 4.10000e-01 4.50000e+00 7.14600e+01 6.42700e+01
 6.59100e+01 8.56480e+02 8.48000e+01 1.90800e+02 7.00100e+01 2.08160e+02
 6.00000e-02 3.90000e-01 8.25000e+01 7.90000e-01 3.20690e+02 8.20000e-01
 1.75000e+00 8.15000e+00 3.01900e+01 3.50000e-01 2.80050e+02 1.83750e+02
 3.76500e+02 2.75600e+02 8.30000e-01 7.90000e+00 6.98000e+00 3.03800e+01
 1.00000e-02 8.50000e+01 2.89000e+00 8.25000e+00 1.95000e+02 3.29500e+01
 4.55700e+01 8.65000e+00 4.50000e+01 1.60500e+01 1.75500e+01 8.00000e-02
 3.40000e+00 9.87000e+00 7.00000e-01 1.72000e+00 2.84000e+00 4.40000e+00
 1.68717e+03 9.10000e-01 4.50000e-01 6.70000e-01 6.30000e-01 6.80000e-01
 2.70000e+01 6.60000e-01 2.32000e+00 1.70000e+00 6.00000e+00 1.29800e+01
 3.85000e+00 2.49000e+00 2.70000e+00 1.62240e+02 5.70000e+00 7.88000e+00
 5.76000e+01 1.45200e+01 7.60000e-01 1.79000e+00 3.50000e+02 1.34000e+02
 1.62600e+02 2.38292e+03 2.39300e+02 1.25295e+03 2.05307e+03 1.13630e+03
 6.65000e+00 1.86786e+03 1.50000e+00 3.08820e+02 1.50500e+01 1.00000e-03
 1.25000e+01 2.22750e+02 1.10000e+01 1.58210e+02 3.29000e+00 2.35000e+00
 7.05000e+00 2.17800e+01 3.96000e+00 1.04000e+01 1.74000e+00 1.20000e+02
 3.15000e+00 1.17600e+01 1.01000e+00 4.00000e+02 1.11500e+01 8.14275e+03
 6.93000e+03 2.59500e+01 1.18400e+01 3.34710e+02 5.39000e+00 6.90000e-01
 5.10000e+00 9.29900e+02 5.23000e+02 5.57720e+02 7.40000e-01 9.15000e+00
 4.58000e+00 2.66000e+00 2.33000e+00 7.62000e+00 6.78000e+00 5.88000e+00
 4.86000e+00 3.32000e+00 9.42000e+00 6.79000e+00 2.96000e+00 1.98000e+00
 1.16300e+01 1.18000e+00 1.92000e+00 6.42000e+00 4.27000e+00 2.46000e+00
 1.68000e+00 1.66000e+00 9.84000e+00 2.93000e+02 1.59600e+01 3.71000e+00
 4.17500e+01 6.50000e+00 7.50000e+01 1.90000e+00 1.24198e+03 1.29500e+01
 4.18000e+00 6.00000e+01 1.10000e-01 1.17000e+01 4.20000e+01 5.90000e-01
 4.00000e-02 1.24800e+01 3.00000e+01 2.09200e+01 1.29380e+02 2.80400e+01
 6.00000e+02 4.05000e+00 6.49500e+02 3.89700e+04 2.02000e+00 4.80000e+00
 3.91000e+00 3.90000e+00 6.40000e+00 8.00000e+00 1.29900e+02 1.44200e+01
 2.50000e+01 2.80000e-01 6.20000e-01 7.70000e-01 2.70000e-01 8.60000e-01
 2.26000e+00 2.62000e+00 5.80000e-01 5.80000e+00 5.45580e+02 7.00000e+02
 9.80000e-01 7.85000e+00 6.89000e+00 4.37000e+00 3.56000e+00 5.32000e+00
 1.76000e+00 3.89680e+02 4.90000e+00 3.52000e+00 2.88000e+00 9.36000e+00
 4.80000e-01 1.39900e+01 2.39000e+00 3.20000e+00 5.50940e+02 4.28763e+03
 5.50640e+02 7.17230e+02 1.59249e+03 6.11860e+02 2.94920e+02 7.05450e+02
 1.12350e+02 1.06400e+02 4.51420e+02 3.06060e+03 1.21500e+01 6.62400e+01
 4.30000e+00 2.90000e+00 4.56000e+01 3.65000e+01 2.60500e+01 9.60000e+00
 1.02000e+00 2.50000e+02 4.36300e+01 6.76000e+00 4.80000e+01 3.15595e+03
 1.03400e+01 2.08340e+02 6.40000e+01 1.12118e+03 2.50000e+03 1.80000e+00
 1.08000e+00 4.34510e+02 3.28000e+00 1.43000e+00 4.02000e+00 4.08000e+00
 5.14000e+00 2.60000e+00 5.08000e+00 5.15000e+00 2.06400e+02 1.03900e+01
 1.15200e+01 1.63000e+00 1.23000e+00 1.11700e+01 1.60000e+00 1.66700e+01
 1.50700e+01 1.00600e+01 1.30000e+01 8.74000e+01 7.96800e+01 6.61700e+01
 3.37500e+01 1.32000e+00 3.63000e+01 3.83900e+01 2.00000e+02 1.45000e+01
 8.52800e+02 5.79000e+00 8.29000e+00 7.46000e+00 4.13000e+00 4.96000e+00
 1.07900e+01 1.64600e+01 1.30100e+01 1.10430e+02 1.31000e+00 7.80000e-01
 7.08000e+00 4.53300e+01 1.10450e+02 1.31600e+01 1.24600e+01 2.07500e+01
 2.49600e+01 1.57900e+01 1.41300e+01 8.55800e+01 5.22400e+01 1.02240e+02
 1.82984e+03 2.03310e+03 3.45030e+02 2.41000e+00 5.06000e+00 5.18000e+00
 8.78550e+02 6.63000e+00 1.66300e+01 2.92000e+00 9.96000e+00 6.08660e+02
 2.99000e+00 8.12000e+00 1.64000e+00 5.64000e+00 6.72000e+00 3.75000e+01
 1.96000e+00 9.98000e+00 4.67000e+00 1.16700e+01 8.00000e-01 1.86200e+01
 3.12000e+00 1.49600e+01 2.91300e+01 1.32900e+01 3.32900e+01 6.88080e+02
 4.47560e+02 8.00000e+01 3.38000e+00 9.00000e+01 1.20000e+01 6.36000e+00
 9.13000e+00 4.90250e+02 3.61590e+02 3.26000e+00 1.12000e+00 1.97000e+00
 6.67000e+00 1.40000e+00 2.85000e+00 4.98000e+00 5.66000e+00 3.58000e+00
 5.35000e+00 9.00000e-01 3.57000e+00 3.89000e+00 3.97000e+00 5.68000e+00
 1.52780e+02 3.22200e+01 2.40000e+02 1.67400e+01 1.60700e+01 2.18720e+02
 2.30000e+00 3.74000e+00 6.82050e+02 1.99600e+01 1.46000e+00 6.35010e+02
 4.11920e+02 5.99500e+02 2.83020e+02 3.39020e+02 7.43620e+02 4.95980e+02
 7.92000e+01 1.20580e+02 3.94932e+03 2.11874e+03 1.66500e+01 2.08000e+01
 3.92000e+00 4.14000e+00 4.64900e+02 6.38300e+02 4.25140e+02 1.45500e+01
 3.13000e+00 1.67000e+00 4.16106e+03 2.32700e+01 9.07000e+02 1.71000e+00
 9.01580e+02 6.06000e+02 5.50000e+00 3.97000e+01 1.15900e+01 6.41100e+01
 2.62730e+02 2.48000e+00 1.10000e+00 1.11000e+00 4.04000e+00 9.08160e+02
 5.17510e+02 4.04600e+01 4.24060e+02 5.49340e+02 9.71400e+01 5.17000e+00
 2.67000e+00 9.20000e-01 1.83000e+02 1.38000e+00 1.50036e+03 1.03875e+03
 8.50500e+02 2.10000e+01 2.72600e+01 1.48800e+01 1.98200e+01 1.67600e+01
 3.00000e+02 6.71000e+00 2.04000e+00 5.60000e-01 2.63300e+01 1.27006e+03
 8.49930e+02 7.60000e+00 7.00000e+00 1.52676e+03 9.87140e+02 5.13000e+00
 9.72000e+00 2.05000e+01 2.05300e+01 2.86800e+01 1.19000e+00 5.20000e-01
 7.84000e+00 2.42000e+00 3.16000e+00 4.70000e+00 9.00000e-02 2.19500e+02
 1.70000e+01 1.59926e+03 1.10044e+03 1.86000e+00 3.30000e+00 1.33500e+01
 4.76000e+00 2.24690e+02]

 Number of unique values in UnitPrice : 620


Unique values in CustomerID : [17850. 13047. 12583. ... 13298. 14569. 12713.]

 Number of unique values in CustomerID : 4372


Unique values in Country : ['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Greece' 'Singapore' 'Lebanon'
 'United Arab Emirates' 'Saudi Arabia' 'Czech Republic' 'Canada'
 'Unspecified' 'Brazil' 'USA' 'European Community' 'Bahrain' 'Malta' 'RSA']

 Number of unique values in Country : 37

Negative ***Quantity values*** in transaction data usually represent returns or cancellations, and converting them to positive would incorrectly inflate the customerâ€™s purchasing activity and overestimate their CLTV.

In [163]:
customer_df =df.copy()

### Changing datatype and remove duplicates

In [164]:
customer_df['CustomerID'] = customer_df['CustomerID'].astype(str)
customer_df['InvoiceDate'] = pd.to_datetime(customer_df['InvoiceDate'])

In [165]:
object_cols = ['InvoiceNo','StockCode']
for col in object_cols:
    customer_df[col] = pd.to_numeric(customer_df[col], errors='coerce')

In [166]:
## looking for duplicates
print("Before dropping null values: ", customer_df.shape)
customer_df.duplicated().sum()
# Dropping the null values
customer_df.dropna(inplace=True)


print("After dropping null values: ", customer_df.shape)

## Create a Total price Column

In [167]:
customer_df['TotalPrice'] = customer_df['Quantity'] * customer_df['UnitPrice']

In [168]:
customer_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365.0,NaN,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365.0,71053.0,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365.0,NaN,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365.0,NaN,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365.0,NaN,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [169]:
customer_df.shape

(406829, 9)

## Feature Engineering

**Recency**: Days since last purchase.

It uses ''' groupby + .diff() ''' which computes:

InvoiceDate(t) - InvoiceDate(t-1)

In [170]:
customer_df['InvoiceDate'] = pd.to_datetime(customer_df['InvoiceDate'])

customer_df = customer_df.sort_values(by= ['CustomerID', 'InvoiceDate'])

customer_df['Recency'] = customer_df.groupby('CustomerID')['InvoiceDate'].diff().dt.days

In [171]:
customer_df['Recency'] = customer_df['Recency'].fillna(0)

**Frequency**: Total number of purchases.

In [172]:
customer_df ['Frequency'] = customer_df.groupby('CustomerID')['InvoiceDate'].transform('count')

**Monetary**: Total revenue generated.[Total spending per customer]

In [173]:
# Group by CustomerID and sum TotalPrice
monetary_df = customer_df.groupby('CustomerID')['TotalPrice'].sum().reset_index(name='Monetary')

# Merge back to original DataFrame
customer_df = customer_df.merge(monetary_df, on='CustomerID', how='left')

**Customer Lifetime**: Duration from first to last purchase.

In [174]:
customer_df['InvoiceDate'] = pd.to_datetime(customer_df['InvoiceDate'])

# Group by customer to get first and last purchase dates
customer_lifetime = customer_df.groupby('CustomerID').agg(
    first_purchase=('InvoiceDate', 'min'),
    last_purchase=('InvoiceDate', 'max')
)

# Calculate lifetime in days
customer_lifetime['customer_lifetime_days'] = (
    customer_lifetime['last_purchase'] - customer_lifetime['first_purchase']
).dt.days

# Merge this info back to the original DataFrame if needed
customer_df = customer_df.merge(customer_lifetime[['customer_lifetime_days']], on='CustomerID', how='left')

In [175]:
print(f"Number of unique values in customer_lifetime_days column: {customer_df['customer_lifetime_days'].unique().sum()}")

Number of unique values in customer_lifetime_days column: 69751

#### ðŸ”¸ 1. **CLV (Customer Lifetime Value):**
Use Frequency, Monetary, and Customer Lifetime to segment high- vs. low-value customers.

**Basic formula:**

CLV = AverageÂ OrderÂ Value Ã— PurchaseÂ Frequency Ã— CustomerÂ Lifetime

CLV=AverageÂ OrderÂ ValueÃ—PurchaseÂ FrequencyÃ—CustomerÂ Lifetime
#### ðŸ”¸ 2. **Churn Probability:**
Longer lifetimes suggest higher engagement. Sudden drops in frequency could imply churn risk.

#### ðŸ”¸ 3. **Cohort Analysis:**
Analyze how different customer acquisition months result in different average lifetimes.

In [176]:
customer_df.isnull().sum()

InvoiceNo                  8905
StockCode                 35809
Description                   0
Quantity                      0
InvoiceDate                   0
UnitPrice                     0
CustomerID                    0
Country                       0
TotalPrice                    0
Recency                       0
Frequency                     0
Monetary                      0
customer_lifetime_days        0
dtype: int64

In [177]:
customer_df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Recency,Frequency,Monetary,customer_lifetime_days
0,541431.0,23166.0,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,77183.6,0.0,2,0.0,0
1,NaN,23166.0,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom,-77183.6,0.0,2,0.0,0
2,537626.0,85116.0,BLACK CANDELABRA T-LIGHT HOLDER,12,2010-12-07 14:57:00,2.10,12347.0,Iceland,25.2,0.0,182,4310.0,365
3,537626.0,22375.0,AIRLINE BAG VINTAGE JET SET BROWN,4,2010-12-07 14:57:00,4.25,12347.0,Iceland,17.0,0.0,182,4310.0,365
4,537626.0,71477.0,COLOUR GLASS. STAR T-LIGHT HOLDER,12,2010-12-07 14:57:00,3.25,12347.0,Iceland,39.0,0.0,182,4310.0,365

## Label Encoding

In [178]:
from sklearn.preprocessing import LabelEncoder

# For Country column
le = LabelEncoder()
customer_df['Country_Label'] = le.fit_transform(customer_df['Country'])

#### For **Description** column 
TF-IDF converts text to numeric vectors that represent how important a word is in a document relative to a collection (corpus).

TF (term frequency): How often a term appears in the product description.

IDF (inverse document frequency): How rare the term is across all descriptions.

Result: Words that appear often in one product but rarely across others get a higher weight.

#### What happening below code:
1.Preprocess the Description column (handle missing text).

2.Generate a TF-IDF matrix with max_features=100.

3.Apply Truncated SVD (a PCA-like dimensionality reduction for sparse data).

4.Merge the resulting topic features back into your original customer_df.

In [179]:

import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import TruncatedSVD

# Step 1: Fill missing descriptions with empty string
customer_df['Description'] = customer_df['Description'].fillna('')

# Step 2: Create TF-IDF features
tfidf = TfidfVectorizer(
    max_features=100,        # top 100 terms
    stop_words='english',    # remove common English stopwords
    ngram_range=(1, 2),      # use unigrams and bigrams
    min_df=5,                # ignore rare words
    max_df=0.9               # ignore very common words
)
desc_tfidf = tfidf.fit_transform(customer_df['Description'])

# Step 3: Reduce dimensions with Truncated SVD
n_topics = 20  # can be adjusted between 10â€“20 as needed
svd = TruncatedSVD(n_components=n_topics, random_state=42)
desc_topics = svd.fit_transform(desc_tfidf)

# Step 4: Create a DataFrame from SVD results
desc_topic_df = pd.DataFrame(
    desc_topics,
    columns=[f'desc_topic_{i+1}' for i in range(n_topics)]
)

# Step 5: Concatenate topics with the original customer_df
customer_df = customer_df.reset_index(drop=True)
customer_df = pd.concat([customer_df, desc_topic_df], axis=1)

# Optional: drop the original Description column if no longer needed
# customer_df.drop('Description', axis=1, inplace=True)

# Preview final data
customer_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Recency,...,desc_topic_11,desc_topic_12,desc_topic_13,desc_topic_14,desc_topic_15,desc_topic_16,desc_topic_17,desc_topic_18,desc_topic_19,desc_topic_20
0,541431.0,23166.0,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom,77183.6,0.0,...,0.001634,0.003133,0.049882,-0.001016,0.099019,0.032051,-0.062761,0.067446,0.034499,-0.057299
1,NaN,23166.0,MEDIUM CERAMIC TOP STORAGE JAR,-74215,2011-01-18 10:17:00,1.04,12346.0,United Kingdom,-77183.6,0.0,...,0.001634,0.003133,0.049882,-0.001016,0.099019,0.032051,-0.062761,0.067446,0.034499,-0.057299
2,537626.0,85116.0,BLACK CANDELABRA T-LIGHT HOLDER,12,2010-12-07 14:57:00,2.10,12347.0,Iceland,25.2,0.0,...,0.497906,0.160906,0.027316,0.003768,-0.011835,-0.032339,0.023959,-0.022264,0.033915,0.013968
3,537626.0,22375.0,AIRLINE BAG VINTAGE JET SET BROWN,4,2010-12-07 14:57:00,4.25,12347.0,Iceland,17.0,0.0,...,-0.114034,-0.004234,-0.043454,-0.081461,-0.005672,-0.088507,0.119232,0.051086,0.038123,-0.035789
4,537626.0,71477.0,COLOUR GLASS. STAR T-LIGHT HOLDER,12,2010-12-07 14:57:00,3.25,12347.0,Iceland,39.0,0.0,...,0.532989,0.185000,0.035181,-0.007540,-0.049891,-0.066149,-0.013725,0.000939,0.012026,0.097659

**Output Explanation**

After running the code, your customer_df will now include:

All original columns (e.g., InvoiceNo, CustomerID, etc.)

20 new columns: desc_topic_1 to desc_topic_20

These are semantic topics extracted from product descriptions.

Each column is a latent dimension that captures hidden patterns (e.g., gift sets, kitchen items, seasonal goods, etc.)

***svd.components_*** is a powerful way to understand what each latent topic actually means in terms of product descriptions.

In [180]:
#Get TF-IDF Feature Names
feature_names = tfidf.get_feature_names_out()
#Get Top Words per Topic
n_top_words = 10

for topic_idx, component in enumerate(svd.components_):
    top_indices = component.argsort()[::-1][:n_top_words]
    top_words = [feature_names[i] for i in top_indices]
    print(f"Topic #{topic_idx + 1}: {', '.join(top_words)}")

Topic #1: set, retrospot, red, bag, red retrospot, paper, vintage, design, heart, tins
Topic #2: red, bag, retrospot, red retrospot, jumbo, jumbo bag, lunch, vintage, lunch bag, box
Topic #3: bag, jumbo, design, jumbo bag, vintage, lunch, lunch bag, pink, bag vintage, paisley
Topic #4: metal, sign, heart, metal sign, blue, hanging, white, pink, holder, light
Topic #5: heart, light, hanging, white, holder, light holder, christmas, pink, vintage, decoration
Topic #6: box, design, lunch, blue, pantry, pink, lunch bag, spaceboy, ceramic, rose
Topic #7: vintage, christmas, vintage christmas, box, tin, card, kit, red, paper, 50
Topic #8: pink, polkadot, blue, regency, jumbo, pink polkadot, jumbo bag, box, paisley, clock
Topic #9: design, pink, cake, pack, cases, cake cases, pantry, regency, 60, 12
Topic #10: christmas, wooden, 50, retrospot, pink, decoration, paper, heart, star, white
Topic #11: light, holder, christmas, light holder, hanging, glass, hanging heart, pink, silver, star
Topic #12: bottle, hot, water, water bottle, hot water, light, blue, glass, holder, light holder
Topic #13: pack, cake, cases, jumbo, cake cases, 12, jumbo bag, 60, box, fairy
Topic #14: card, birthday, pack, retrospot, 12, white, wooden, blue, party, cases
Topic #15: blue, white, wooden, polkadot, drawer, garden, red, ceramic, cake, feltcraft
Topic #16: white, wooden, design, red, pantry, jumbo, regency, frame, jumbo bag, card
Topic #17: wooden, white, lunch, lunch bag, frame, vintage, bag, antique, pack, retrospot
Topic #18: regency, tea, retrospot, decoration, blue, cake, green, vintage, glass, red retrospot
Topic #19: paper, retrospot, white, kit, feltcraft, design, vintage, bunting, doormat, small
Topic #20: wooden, tin, retrospot, blue, design, mug, decoration, small, assorted, pack

#### Create a Topic Label Dictionary

In [181]:
topic_keywords = {}
for topic_idx, component in enumerate(svd.components_):
    top_indices = component.argsort()[::-1][:n_top_words]
    top_words = [feature_names[i] for i in top_indices]
    topic_keywords[f'desc_topic_{topic_idx + 1}'] = top_words

# Optional: convert to DataFrame
topic_label_df = pd.DataFrame.from_dict(topic_keywords, orient='index', columns=[f'word_{i+1}' for i in range(n_top_words)])
print(topic_label_df)

                  word_1     word_2             word_3         word_4  \
desc_topic_1         set  retrospot                red            bag
desc_topic_2         red        bag          retrospot  red retrospot
desc_topic_3         bag      jumbo             design      jumbo bag
desc_topic_4       metal       sign              heart     metal sign
desc_topic_5       heart      light            hanging          white
desc_topic_6         box     design              lunch           blue
desc_topic_7     vintage  christmas  vintage christmas            box
desc_topic_8        pink   polkadot               blue        regency
desc_topic_9      design       pink               cake           pack
desc_topic_10  christmas     wooden                 50      retrospot
desc_topic_11      light     holder          christmas   light holder
desc_topic_12     bottle        hot              water   water bottle
desc_topic_13       pack       cake              cases          jumbo
desc_topic_14       card   birthday               pack      retrospot
desc_topic_15       blue      white             wooden       polkadot
desc_topic_16      white     wooden             design            red
desc_topic_17     wooden      white              lunch      lunch bag
desc_topic_18    regency        tea          retrospot     decoration
desc_topic_19      paper  retrospot              white            kit
desc_topic_20     wooden        tin          retrospot           blue

                      word_5         word_6         word_7    word_8  \
desc_topic_1   red retrospot          paper        vintage    design
desc_topic_2           jumbo      jumbo bag          lunch   vintage
desc_topic_3         vintage          lunch      lunch bag      pink
desc_topic_4            blue        hanging          white      pink
desc_topic_5          holder   light holder      christmas      pink
desc_topic_6          pantry           pink      lunch bag  spaceboy
desc_topic_7             tin           card            kit       red
desc_topic_8           jumbo  pink polkadot      jumbo bag       box
desc_topic_9           cases     cake cases         pantry   regency
desc_topic_10           pink     decoration          paper     heart
desc_topic_11        hanging          glass  hanging heart      pink
desc_topic_12      hot water          light           blue     glass
desc_topic_13     cake cases             12      jumbo bag        60
desc_topic_14             12          white         wooden      blue
desc_topic_15         drawer         garden            red   ceramic
desc_topic_16         pantry          jumbo        regency     frame
desc_topic_17          frame        vintage            bag   antique
desc_topic_18           blue           cake          green   vintage
desc_topic_19      feltcraft         design        vintage   bunting
desc_topic_20         design            mug     decoration     small

                    word_9        word_10
desc_topic_1         heart           tins
desc_topic_2     lunch bag            box
desc_topic_3   bag vintage        paisley
desc_topic_4        holder          light
desc_topic_5       vintage     decoration
desc_topic_6       ceramic           rose
desc_topic_7         paper             50
desc_topic_8       paisley          clock
desc_topic_9            60             12
desc_topic_10         star          white
desc_topic_11       silver           star
desc_topic_12       holder   light holder
desc_topic_13          box          fairy
desc_topic_14        party          cases
desc_topic_15         cake      feltcraft
desc_topic_16    jumbo bag           card
desc_topic_17         pack      retrospot
desc_topic_18        glass  red retrospot
desc_topic_19      doormat          small
desc_topic_20     assorted           pack

### Date Feature Engineering

In [182]:
customer_df['InvoiceDate'] = pd.to_datetime(customer_df['InvoiceDate'])

customer_df['InvoiceYear'] = customer_df['InvoiceDate'].dt.year
customer_df['InvoiceMonth'] = customer_df['InvoiceDate'].dt.month
customer_df['InvoiceDay'] = customer_df['InvoiceDate'].dt.day
customer_df['InvoiceHour'] = customer_df['InvoiceDate'].dt.hour
customer_df['Weekday'] = customer_df['InvoiceDate'].dt.weekday

### Drop Unwanted Columns

In [183]:
customer_df.drop(columns=['Description','Country'],inplace=True)

print('Shape of Final dataset:', customer_df.shape)

Shape of Final dataset: (406829, 37)

In [184]:
customer_df.head()

,InvoiceNo,StockCode,Quantity,InvoiceDate,UnitPrice,CustomerID,TotalPrice,Recency,Frequency,Monetary,...,desc_topic_16,desc_topic_17,desc_topic_18,desc_topic_19,desc_topic_20,InvoiceYear,InvoiceMonth,InvoiceDay,InvoiceHour,Weekday
0,541431.0,23166.0,74215,2011-01-18 10:01:00,1.04,12346.0,77183.6,0.0,2,0.0,...,0.032051,-0.062761,0.067446,0.034499,-0.057299,2011,1,18,10,1
1,NaN,23166.0,-74215,2011-01-18 10:17:00,1.04,12346.0,-77183.6,0.0,2,0.0,...,0.032051,-0.062761,0.067446,0.034499,-0.057299,2011,1,18,10,1
2,537626.0,85116.0,12,2010-12-07 14:57:00,2.10,12347.0,25.2,0.0,182,4310.0,...,-0.032339,0.023959,-0.022264,0.033915,0.013968,2010,12,7,14,1
3,537626.0,22375.0,4,2010-12-07 14:57:00,4.25,12347.0,17.0,0.0,182,4310.0,...,-0.088507,0.119232,0.051086,0.038123,-0.035789,2010,12,7,14,1
4,537626.0,71477.0,12,2010-12-07 14:57:00,3.25,12347.0,39.0,0.0,182,4310.0,...,-0.066149,-0.013725,0.000939,0.012026,0.097659,2010,12,7,14,1

In [186]:
customer_df.shape

(406829, 37)

In [187]:
df_cleaned = customer_df[customer_df['Quantity'] > 0]

In [188]:
df_cleaned.shape

(397924, 37)

## Save Final Dataset

In [189]:
df_cleaned.head(5)

,InvoiceNo,StockCode,Quantity,InvoiceDate,UnitPrice,CustomerID,TotalPrice,Recency,Frequency,Monetary,...,desc_topic_16,desc_topic_17,desc_topic_18,desc_topic_19,desc_topic_20,InvoiceYear,InvoiceMonth,InvoiceDay,InvoiceHour,Weekday
0,541431.0,23166.0,74215,2011-01-18 10:01:00,1.04,12346.0,77183.6,0.0,2,0.0,...,0.032051,-0.062761,0.067446,0.034499,-0.057299,2011,1,18,10,1
2,537626.0,85116.0,12,2010-12-07 14:57:00,2.10,12347.0,25.2,0.0,182,4310.0,...,-0.032339,0.023959,-0.022264,0.033915,0.013968,2010,12,7,14,1
3,537626.0,22375.0,4,2010-12-07 14:57:00,4.25,12347.0,17.0,0.0,182,4310.0,...,-0.088507,0.119232,0.051086,0.038123,-0.035789,2010,12,7,14,1
4,537626.0,71477.0,12,2010-12-07 14:57:00,3.25,12347.0,39.0,0.0,182,4310.0,...,-0.066149,-0.013725,0.000939,0.012026,0.097659,2010,12,7,14,1
5,537626.0,22492.0,36,2010-12-07 14:57:00,0.65,12347.0,23.4,0.0,182,4310.0,...,-0.052948,0.087200,0.028290,0.025431,-0.012222,2010,12,7,14,1

In [190]:
df_cleaned.to_csv("~/Personal_project/Customer-Lifetime-Value-Prediction/data/final_dataset.csv", index=False)